<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DataAccess</servlet-name>
        <servlet-class>aayu.DataAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertData</servlet-name>
        <servlet-class>aayu.InsertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateData</servlet-name>
        <servlet-class>aayu.Update_Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trial</servlet-name>
        <servlet-class>aayu.Trial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trial2</servlet-name>
        <servlet-class>aayu.Trial2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert_UpdatedData</servlet-name>
        <servlet-class>aayu.Insert_UpdatedData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataAccess</servlet-name>
        <url-pattern>/DataAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertData</servlet-name>
        <url-pattern>/InsertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateData</servlet-name>
        <url-pattern>/UpdateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trial</servlet-name>
        <url-pattern>/Trial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trial2</servlet-name>
        <url-pattern>/Trial2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert_UpdatedData</servlet-name>
        <url-pattern>/Insert_UpdatedData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
